@model MvcBlogSitesi.Areas.Admin.Models.DTO.BlogPostVM
    <div class="form-group">
        <label>Kategori</label>
        @Html.DropDownList("CategoryID", Model.drpCategories, "Seçiniz", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryID)
    </div>
    
    <div class="form-group">
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Başlık" })
        @Html.ValidationMessageFor(x => x.Title)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.PostImage)
        <input type="file" name="PostImage" accept="images/*" multiple />
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Content)
        @Html.TextArea("Content")

        <script type="text/javascript">
                                    var editor = CKEDITOR.instances['Content'];
                                    if (editor) { editor.destroy(true); }
                                    CKEDITOR.replace('Content', {
                                        enterMode: CKEDITOR.ENTER_BR,
                                    });
        </script>

    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Gönder" />
    </div>